<div id="tabInfo">
    <div class="card" style="margin: 1em;padding:2em;word-wrap: break-word;  overflow:auto;">
        <h4 class="card-title">{{ 'Account' | translate }} {{activeAccount ? activeAccount : "-"}}</h4>
        <button type="button" class="btn btn-warning" ng-click="accountInfo();accountLines(); search.currency='';" ng-disabled="!activeAccount">{{ 'Refresh' | translate }}</button> <br>{{accountInfoStatus}}<br>
        <a class="btn btn-info" data-toggle="collapse" href="#infoopt" aria-expanded="false" aria-controls="infoopt">{{ 'Advanced' | translate }}</a>
        <div class="collapse" id="infoopt">
            <div style="padding-left:1em">
                <label class="input-toggle"><input type="checkbox" ng-model="trustlineStatsIgnoreZero"><span></span></label> {{ 'Hide_zero' | translate }}
            </div>
        </div>
        <table style="table-layout:fixed" class="table table-hover">
            <tr>
                <th>{{ 'C_NOT' | translate }}</th>
                <th>{{ 'Balance' | translate }}</th>
            </tr>
            <tr>
                <td>XRP</td>
                <td>{{accountBalances.XRP ? accountBalances.XRP : '-'}}</td>
            </tr>
            <tr>
                <td>{{ 'Reserved' | translate }}</td>
                <td>{{accountBalances.XRP ? accountBalances.reserved : '-'}}</td>
            </tr>
            <tr ng-repeat="(key, value) in trustlinesStats" ng-hide="trustlineStatsIgnoreZero? value.balance == '0' : false">
                <td>{{currencyName(key)}}({{value.lineNumber}})</td>
                <td>{{value.balance}}</td>
            </tr>
        </table>
    </div>
    <div class="card" style="margin: 1em;padding:2em;word-wrap: break-word;  overflow:auto;">
        <h4 class="card-title">{{ 'Info' | translate }}</h4>

        <img src="{{accountData.urlgravatar}}" style="margin-right: 5px; margin-bottom: 5px; display: {{accountData.EmailHash ? 'block': 'none'}}">
        <br>
        <table style="table-layout:fixed" class="table table-hover">
            <tr>
                <td>Domain</td>
                <td>{{accountData.domain ? accountData.domain : '-'}}</td>
            </tr>
            <tr>
                <td>EmailHash</td>
                <td>{{accountData.EmailHash ? accountData.EmailHash : '-'}}</td>
            </tr>
            <tr>
                <td>Transfer Rate</td>
                <td>{{accountData.TransferRate ? ((accountData.TransferRate / 1000000000 - 1) * 100).toFixed(7) + ' %' : '-' }}
                </td>
            </tr>
            <tr>
                <td>Owner Count</td>
                <td>{{accountData.OwnerCount}}</td>
            </tr>
            <tr>
                <td>Regular Key</td>
                <td>{{accountData.RegularKey ? accountData.RegularKey : '-'}}</td>
            </tr>
            <tr>
                <td>Next Sequence</td>
                <td>{{accountData.Sequence}}</td>
            </tr>
            <tr>
                <td>Signers</td>
                <td>
                    {{accountData['signers'] ? '' : '-'}}
                    <table style="table-layout:fixed" class="table table-hover">
                        <tr ng-repeat="signer in accountData['signers']">
                            <td>{{signer.address}}</td>
                            <td>{{signer.weight}}</td>
                        </tr>
                        <tr ng-hide="! accountData['quorum']">
                            <td>Quorum : </td>
                            <td>{{accountData['quorum'] ? accountData['quorum'] : '-'}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>Message Key</td>
                <td>{{accountData.MessageKey ? accountData.MessageKey : '-'}}</td>
            </tr>
            <tr ng-repeat="(key, value) in accountData['settings']">
                <td>{{key}}:</td>
                <td>
                    <font color="{{value ? 'green' : 'red'}}">{{value ? "&#10004" : "&#10008"}} </font>
                </td>
            </tr>
        </table>
        <a class="btn btn-info" data-toggle="collapse" href="#infoopt1" aria-expanded="false" aria-controls="infoopt1">{{ 'Advanced' | translate }}</a>
        <div class="collapse" id="infoopt1">
            <div style="padding-left:1em">
                <button type="button" class="btn btn-info" ng-click="prepareSetRegularKey()">{{ 'Set_RegularKey' | translate }}</button>
                <button type="button" class="btn btn-info" ng-click="prepareSetSignerList()">Set Signer List</button>
                <button type="button" class="btn btn-info" ng-click="prepareAccountSet({modal: 'info'})">{{ 'Edit_Info' | translate }}</button>
                <button type="button" class="btn btn-info" ng-click="prepareAccountSet({modal: 'flags'})">{{ 'Edit_Flags' | translate }}</button>
                <button class="btn btn-info" ng-click="prepareSetWalletSecret()">{{'Set_Secret'|translate}}</button><br>
                <button class="btn btn-info" ng-show="remote.secrets[activeAccount]" ng-click="showSecret = !showSecret">{{'SH_secret'|translate}}</button><br>
                <div><span style="float:left"><qrcode ng-show="showSecret" version="5" error-correction-level="M" size="160" data="{{remote.secrets[activeAccount]}}" download></qrcode>
                {{remote.secrets[activeAccount] && showSecret ? remote.secrets[activeAccount] : '' }}</span></div>
            </div>
        </div>
    </div>

    <div uib-alert ng-repeat="alert in alerts.account" class="alert-{{alert.status == 'FINAL' ? (alert.status_code.slice(0,3) == 'tes' ? 'success' : 'danger') : 'warning'}}" close="closeAlert('account', $index)" dismiss-on-timeout="30000">
        {{alert.description}} <br>
        <b>Status:</b>[{{alert.status}}{{alert.status_code ? ', ' + alert.status_code : ''}}],
        <b>Result:</b> {{alert.result}} <br> {{alert.tx_hash ? 'tx_hash: ' + alert.tx_hash : ''}}
    </div>


</div>